# Unity 프로젝트 기본 무시 파일
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# 특정 확장자 무시
*.anim
*.meta
*.mat
*.asset
*.blend
*.cginc
*.html
*.colors
*.compute
*.dae
*.eps
*.json
*.mask
*.md
*.svg
*.pdf
*.mixer
*.physicMaterial
*.prefab
*.py
*.pyxel
*.shader
*.spp
*.swf
*.unity
*.wlt
*.xml
*.ini
*.rar
*.zip
*.txt
*.url